a {
  color: white;
}

#navigation {
  float: right;
}

#flex {
  padding-top: 50%;
}
.leftside > #flex :hover {
  color: crimson;
}

#hub {
  padding-top: 50%;
}
.rightside > #hub :hover {
  color: orange;
}

.leftside {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: orange;
  text-align: right;
  font-style: italic;
  font color: white;
}

.rightside {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: crimson;
}
