#flex {
  text-decoration: none;
}

#hub {
  text-decoration: none;
}

#navigation {
  float: right;
}

.leftside {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: orange;
  text-align: right;
  font-style: italic;
  font color: white;
}

.rightside {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: crimson;
}
